edge-access:
  httpRoute:
    enabled: true
    parentRefs:
      - group: gateway.networking.k8s.io
        kind: Gateway
        name: public-ingress-gateway
        namespace: infra-network

    hostnames:
      - longhorn.karafra.net

    rules:
      - matches:
          - path:
              type: PathPrefix
              value: /
        backendRefs:
          - group: ""
            kind: Service
            name: longhorn-frontend
            port: 80
            weight: 1

  oauth2Proxy:
    enabled: true
    service:
      port: 80
    externalSecret:
      enabled: true
      secretName: longhorn-oauth2-secret
      externalSecretKey: longhorn-oauth2-secret

  oauth2-proxy:
    config:
      existingSecret: longhorn-oauth2-secret
      externalSecretKey: longhorn-oauth2-secret
      provider: github
      emailDomains:
        - '*'
      githubOrg: KarafrOrg
      redirectURL: https://longhorn.karafra.net/oauth2/callback
      scope: "user:email"
    extraArgs:
      - --provider=github
      - --skip-provider-button
      - --cookie-secure=true
      - --reverse-proxy=true
      - --upstream=http://seaweedfs-admin:23646
      - --pass-host-header=true
      - --set-xauthrequest=true
      - --cookie-domain=.karafra.net
      - --whitelist-domain=.karafra.net
      - --cookie-name=_oauth2_proxy_seaweed
      - --session-store-type=cookie

longhorn:
  preUpgradeChecker:
    jobEnabled: true
    upgradeVersionCheck: true
  metrics:
    serviceMonitor:
      enabled: true
      additionalLabels:
        metrics-collector: prometheus
  longhornManager:
    log:
      format: json
  longhornDriver:
    log:
      format: json
  longhornUI:
    log:
      format: json
  database:
    image: postgres:17
    secretRef:
      name: postgres-longhorn-secret
    databaseName: longhorn
    port: 5342
    appName: postgres
    volumes:
      mountName: postgres-longhorn-volume
      mountPath: /var/lib/ghost/content
      claimName: postgres-longhorn-pvc
      claimSize: 10Gi
