longhorn:
  preUpgradeChecker:
    jobEnabled: true
    upgradeVersionCheck: true
  metrics:
    serviceMonitor:
      enabled: true
      additionalLabels:
        metrics-collector: prometheus
  longhornManager:
    log:
      format: json
  longhornDriver:
    log:
      format: json
  longhornUI:
    log:
      format: json
  database:
    image: postgres:17
    secretRef:
      name: postgres-longhorn-secret
    databaseName: longhorn
    port: 5342
    appName: postgres
    volumes:
      mountName: postgres-longhorn-volume
      mountPath: /var/lib/ghost/content
      claimName: postgres-longhorn-pvc
      claimSize: 10Gi
oauth2-proxy: