edge-access:
  httpRoute:
    enabled: true
    parentRefs:
      - group: gateway.networking.k8s.io
        kind: Gateway
        name: public-ingress-gateway
        namespace: infra-network

    hostnames:
      - longhorn.karafra.net

    rules:
      - matches:
          - path:
              type: PathPrefix
              value: /
        backendRefs:
          - group: ""
            kind: Service
            name: longhorn-frontend
            port: 80
            weight: 1

  oauth2Proxy:
    enabled: true
    service:
      port: 80
    externalSecret:
      enabled: true
      secretName: longhorn-oauth2-secret
      externalSecretKey: longhorn-oauth2-secret

  oauth2-proxy:
    config:
      existingSecret: longhorn-oauth2-secret
      # Additional oauth2-proxy configuration
      configFile: |-
        provider = "oidc"
        oidc_issuer_url = "https://accounts.google.com"
        email_domains = ["*"]
        cookie_secure = true
        cookie_httponly = true
        cookie_samesite = "lax"
        pass_access_token = true
        pass_authorization_header = true
        set_authorization_header = true
        set_xauthrequest = true

longhorn:
  preUpgradeChecker:
    jobEnabled: true
    upgradeVersionCheck: true
  metrics:
    serviceMonitor:
      enabled: true
      additionalLabels:
        metrics-collector: prometheus
  longhornManager:
    log:
      format: json
  longhornDriver:
    log:
      format: json
  longhornUI:
    log:
      format: json
  database:
    image: postgres:17
    secretRef:
      name: postgres-longhorn-secret
    databaseName: longhorn
    port: 5342
    appName: postgres
    volumes:
      mountName: postgres-longhorn-volume
      mountPath: /var/lib/ghost/content
      claimName: postgres-longhorn-pvc
      claimSize: 10Gi
