seaweedfs:
  master:
    replicas: 1
    resources:
      limits:
        cpu: 200m
        memory: 512Mi
      requests:
        cpu: 100m
        memory: 256Mi
  volume:
    replicas: 3
    resources:
      limits:
        cpu: 200m
        memory: 512Mi
      requests:
        cpu: 100m
        memory: 256Mi
    dataPath: /data  # mounted path for volumes
    dataDirs:
      - name: data2
        type: "persistentVolumeClaim"
        storageClass: "longhorn"
        size: "10Gi"
        maxVolumes: 20
  filer:
    replicas: 3
    image:
      repository: chrislusf/seaweedfs
      tag: latest
    resources:
      limits:
        cpu: 200m
        memory: 512Mi
      requests:
        cpu: 100m
        memory: 256Mi
    s3:
      enabled: true
      port: 8333
      domainName: objectstore.karafra.net
      existingConfigSecret: seaweedfs-s3-credentials
      externalSecretKey: seaweedfs-s3-credentials
      createBuckets:
        - name: tempo-traces
          anonymousRead: false
        - name: pyroscope-profiles
          anonymousRead: false
        - name: loki-logs
          anonymousRead: false
    topologySpreadConstraints: |
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: ScheduleAnyway
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: seaweedfs
            app.kubernetes.io/component: filer

  s3:
    domainName: objectstore.karafra.net
  admin:
    enabled: true
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 256Mi
oauth2-proxy:
  config:
    existingSecret: seaweedfs-oauth2-proxy-config
    externalSecretKey: seaweedfs-oauth2-proxy-config
    provider: github
    emailDomains:
      - '*'
    githubOrg: KarafrOrg
    redirectURL: https://seaweed.karafra.net/oauth2/callback
    scope: "user:email"
  extraArgs:
    - --provider=github
    - --skip-provider-button
    - --cookie-secure=true
    - --reverse-proxy=true
