seaweedfs:
  master:
    replicas: 1
    resources:
      limits:
        cpu: "500m"
        memory: "512Mi"
      requests:
        cpu: "250m"
        memory: "256Mi"
  volume:
    replicas: 3
    resources:
      limits:
        cpu: "1"
        memory: "1Gi"
      requests:
        cpu: "500m"
        memory: "512Mi"
    dataPath: /data  # mounted path for volumes
    dataDirs:
      - name: data2
        type: "persistentVolumeClaim"
        storageClass: "longhorn"
        size: "10Gi"
        maxVolumes: 20
  filer:
    replicas: 3
    image:
      repository: chrislusf/seaweedfs
      tag: latest
    resources:
      limits:
        cpu: "500m"
        memory: "512Mi"
      requests:
        cpu: "250m"
        memory: "256Mi"
    s3:
      enabled: true
      port: 8333
      domainName: objectstore.karafra.net
      existingConfigSecret: seaweedfs-s3-credentials
      externalSecretKey: seaweedfs-s3-credentials
  s3:
    domainName: objectstore.karafra.net
    ingress:
      enabled: true
      className: traefik
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
      host: objectstore.karafra.net
      tls:
        - hosts:
            - objectstore.karafra.net
          secretName: s3-tls
