rook-ceph-cluster:
  operatorNamespace: infra-storage
  clusterName: infra-ceph
  cephClusterSpec:
    cephVersion:
      image: quay.io/ceph/ceph:v18.2.2
      allowUnsupported: false
    dataDirHostPath: /var/lib/rook
    mon:
      count: 3
      allowMultiplePerNode: false
      volumeClaimTemplate:
        spec:
          storageClassName: longhorn
          resources:
            requests:
              storage: 100Gi
    mgr:
      count: 2

    dashboard:
      enabled: true
      ssl: false

    network:
      provider: host

    crashCollector:
      disable: false

    storage:
      useAllNodes: true
      useAllDevices: false
      deviceFilter: ""
      storageClassDeviceSets:
        - name: set1
          count: 3
          portable: false
          resources:
            limits:
              memory: "4Gi"
            requests:
              cpu: "500m"
              memory: "4Gi"
          volumeClaimTemplates:
            - metadata:
                name: data
              spec:
                resources:
                  requests:
                    storage: 50Gi
                storageClassName: longhorn
                volumeMode: Block
                accessModes:
                  - ReadWriteOnce
    resources:
      mon:
        limits:
          cpu: "1.5M"
          memory: "1Gi"
        requests:
          cpu: "250m"
          memory: "500Mi"
      mgr:
        limits:
          cpu: "500m"
          memory: "1Gi"
        requests:
          cpu: "250m"
          memory: "500Mi"
      osd:
        limits:
          cpu: "2"
          memory: "4Gi"
        requests:
          cpu: "500m"
          memory: "2Gi"

    disruptionManagement:
      managePodBudgets: true
      osdMaintenanceTimeout: 30
  cephObjectStores:
    - name: ceph-objectstore
      spec:
        metadataPool:
          failureDomain: host
          replicated:
            size: 3
        dataPool:
          failureDomain: host
          erasureCoded:
            dataChunks: 2
            codingChunks: 1
          parameters:
            bulk: "true"
        preservePoolsOnDelete: true
        gateway:
          port: 8080
          resources:
            limits:
              memory: "2Gi"
            requests:
              cpu: "1000m"
              memory: "1Gi"
          securePort: 8443
          instances: 1
          priorityClassName: system-cluster-critical
      storageClass:
        enabled: true
        name: ceph-bucket
        reclaimPolicy: Delete
        volumeBindingMode: "Immediate"
        annotations: { }
        labels: { }
        parameters:
          region: eu-east-1
      ingress:
        enabled: true
        ingressClassName: traefik
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt
        hosts:
          - objectstore.karafra.net
        tls:
          - hosts:
              - objectstore.karafra.net
            secretName: grafana-tls
      route:
        enabled: false
