rook-ceph-cluster:
  operatorNamespace: infra-storage
  clusterName: infra-ceph
  cephClusterSpec:
    cephVersion:
      image: quay.io/ceph/ceph:v18.2.2
      allowUnsupported: false
    dataDirHostPath: /var/lib/rook
    mon:
      count: 3
      allowMultiplePerNode: false
      volumeClaimTemplate:
        spec:
          storageClassName: longhorn
          resources:
            requests:
              storage: 100Gi
    mgr:
      count: 2

    dashboard:
      enabled: true
      ssl: false

    network:
      provider: host

    crashCollector:
      disable: false

    storage:
      useAllNodes: true
      useAllDevices: false
      deviceFilter: ""
      storageClassDeviceSets:
        - name: set1
          count: 3
          portable: false
          resources:
            limits:
              memory: "4Gi"
            requests:
              cpu: "500m"
              memory: "4Gi"
          placement:
            podAntiAffinity:
              preferredDuringSchedulingIgnoredDuringExecution:
                - weight: 100
                  podAffinityTerm:
                    labelSelector:
                      matchExpressions:
                        - key: "rook.io/cluster"
                          operator: In
                          values:
                            - cluster1
                    topologyKey: "topology.kubernetes.io/zone"
          volumeClaimTemplates:
            - metadata:
                name: data
              spec:
                resources:
                  requests:
                    storage: 50Gi
                storageClassName: longhorn
                volumeMode: Block
                accessModes:
                  - ReadWriteOnce
    resources:
      mon:
        limits:
          cpu: "1.5M"
          memory: "1Gi"
        requests:
          cpu: "250m"
          memory: "500Mi"
      mgr:
        limits:
          cpu: "500m"
          memory: "1Gi"
        requests:
          cpu: "250m"
          memory: "500Mi"
      osd:
        limits:
          cpu: "2"
          memory: "4Gi"
        requests:
          cpu: "500m"
          memory: "2Gi"

    disruptionManagement:
      managePodBudgets: true
      osdMaintenanceTimeout: 30
